body{
    background-image: url("fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    
}
h1{
    color:darkorange ;

}
li{
    margin: 5px;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 400px;
}
#thirdDiv{
    margin-top: 15px;
    height: 600px;
    width: 500px;
    background-color: rgb(255, 252, 210);
    padding: 50px;
    border: 1px solid rgb(63, 42, 42);
    background-color: rgb(231, 204, 163);
    display: flex;
    flex-direction: row;
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}